.mobile-apps {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 104px 0;
}
.mobile-img {
    margin-right: 5%;
    margin-left: 6%;
}

.mob_links {
    padding-left: 40px;
}
.big_text {
    font-family: DM Sans;
    display: flex;
    text-align: left;
    font-size: 51px;
    font-weight: bold;
}
.small_text {
    font-family: DM Sans;
    display: flex;
    font-size: 18px;
    text-align: left;
    overflow-wrap: break-word;
    margin-top: 16px;
}

.mobile-buttons {
    border-radius: 4px;
    border: none;
    margin-top: 32px;

}
.app_butt {
    background: black;
}

@media screen and (max-width: 1024px) {
    .mob-links{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 220px;
    }
    .mobile-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobile-apps {
        padding: 104px 16px;

    }

    .app_butt:last-child {
        margin-top: 16px;
    }
    .app_butt{
        padding: 0;
    }
    .mobail-card{
        margin-left: 40px;
        margin-right: 40px;
    }

}

@media screen and (max-width: 700px) {
    .mob_links {
        padding-left: 0;
        flex-direction: column;
    }
    .app_butt {
        padding: 0;
    }
    .mobile-apps {
        flex-wrap: wrap;
    }
}

